.clip-up {
  clip-path: polygon(0% 20%, 100% 0, 100% 100%, 0 100%);
}

.bg-clip-up {
  position: relative;

  &:before {
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $fog-white;
    clip-path: polygon(0% 40%, 100% 0, 100% 100%, 0 100%);
    content: '';
  }
}
