// wrap each input or collection in the .field-group class
.field {
  margin: 0 0 .5rem;
}

label,
.label {
  display: inline-block;
  margin: 0 0 .5rem;
  font-family: $system-sans; //$sans-serif;
  font-size: $font-size-7;
  font-weight: 600;
  // letter-spacing: $letter-spacing-1;
  // text-transform: uppercase;

  [type='radio'],
  [type='checkbox'] {
    display: inline-block;
    width: auto;
  }
}

.label-help {
  margin-bottom: 0.3em;
  color: map-get($colors, black-50);
  font-size: 0.7em;
}

input,
textarea {
  display: block;
  width: 100%;
}

textarea {
  min-height: 7rem;
  resize: vertical;
}

// all input types
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  appearance: none;
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  padding: 1rem;
  border: 1px solid map-get($colors, black-50);
  border-radius: 0;
  background-color: map-get($colors, white);
  color: map-get($colors, black);
  font-family: $system-sans; //$sans-serif;
  font-family: inherit;
  font-weight: 300;
  transition: .15s all linear;

  &:hover {
    border-color: map-get($colors, black);
    box-shadow: 0 0 5px rgba(map-get($colors, black), .2);
  }

  &:focus {
    border: 1px solid map-get($colors, blue);
    outline: none;
    box-shadow: 0 0 5px rgba(map-get($colors, blue), .2);
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  }

  &:read-only {
    border-color: rgba(map-get($colors, green), .15);
    background-color: rgba(map-get($colors, green), .1);
    box-shadow: none !important;
    resize: none;
  }

  &:disabled {
    border-color: rgba(map-get($colors, black), .1);
    background-color: rgba(map-get($colors, black), .05);
    box-shadow: none !important;
    color: rgba(map-get($colors, black), .5);
    cursor: not-allowed;
    resize: none;
  }

  &.invalid, &.error { border-color: rgba(map-get($colors, yellow), 0.6);}
  &.warning { border-color: map-get($colors, red);}
  &.success { border-color: map-get($colors, green);}
  &.auto-width { width: auto; }
}
