// Components/Header

$nav-height: 3rem;
$nav-height-sticky: 2.3rem;

$header-sm-breakpoint: 25em;
$header-md-breakpoint: 37em;

// Site-Header
// --
// container
.site-header {

  @media screen and (max-width: $screen-small) {
    height: auto !important;
    color: rgba(map-get($colors, white), .9);
  }

  &__content {
    background-color: map-get($colors, black);
    transition: $global-transition;
  }

  // Site-Nav
  // inner Container
  .site-nav {
    text-align: center;
  }

  // Site-Header__Logo
  &__logo {
    display: flex;
    align-items: center;
    text-align: center;
    color: inherit;

    img {
      max-width: 2.3rem;
    }

    span {
      // color: inherit;
      // color: rgba(map-get($colors, white), .9);
      text-transform: uppercase;
      font-weight: 700;
      font-size: .75rem;
      letter-spacing: .08em;
      padding: 0 1rem;
      display: inline-block;
      transition: $global-transition;
      position: relative;

      @media screen and (min-width: $screen-small) and (max-width: 43em) {
        display: none;
      }
    }

    @media screen and (max-width: 30em) {
      display: block;
      padding: 1rem;
      border-bottom: 1px solid rgba(map-get($colors, white), .2);
    }
  }

  // Nav-Group
  // wrapper for links
  .nav-group {
    display: inline-block;

    // Nav-Group__Link
    &__link {
      // color: inherit;
      opacity: .9;
      text-decoration: none;
      padding: 1rem .5rem;
      display: inline-block;
      transition: $global-transition;
      position: relative;

      &:hover {
        opacity: 1;
      }

      &.active {
        color: map-get($colors, red);
      }
    }
  }
}


//- not mobile
@media screen and (min-width: $screen-small) {

  .site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    a {
      color: map-get($colors, black);
    }

    &__content {
      background-color: transparent;
      transition: $global-transition;

      &:hover {
        background-color: rgba(map-get($colors, deep-purple), .08);
      }
    }

    .site-nav {
      display: flex;
      justify-content: center;
    }

    &__logo {
      text-decoration: none;

      img {
        // height: 50%;
        max-width: none;
        // width: auto;
        width: 1.75rem;

        &.white-logo {
          display: none;
        }
      }
    }

    .nav-group {
      display: flex;
      justify-content: center;
      align-items: center;

      &__link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .75rem;
        letter-spacing: .08em;
        padding: 0 .5rem;
        margin: 0 .25rem;
        line-height: $nav-height;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          background-color: rgba(map-get($colors, dark-red), .4);
          height: 0;
          transition: .2s all linear;
        }

        &:hover,
        &:focus,
        .active {
          color: map-get($colors, dark-red);
        }

        &:hover::before,
        &:focus::before {
          height: 8px;
        }

        &.active::before {
          height: 1px;
        }

      }
    }
  }

}//@media - not mobile

// layout not mobile
@media screen and (min-width: 700px) {
  .site-header .site-nav {
    justify-content: space-between;
  }

  .site-header__logo,
  .nav-group__right {
    width: 20%;
  }

  .nav-group.nav-group__right {
    justify-content: flex-end;
  }
}

// Headroom.js
@media #{$breakpoint-not-small} {
  .headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &--pinned {

      .site-header__content {
        color: rgba(map-get($colors, white), .9);
        background-color: rgba(map-get($colors, black), 1);
        transition: $global-transition;

        a {
          color: rgba(map-get($colors, white), .9);
        }
      }

      &:hover .site-header__content {
        background-color: rgba(map-get($colors, deep-purple), 1);
      }

      .site-header__logo span,
      .nav-group__link {
        line-height: $nav-height-sticky !important;
      }

      .white-logo {
        display: inline-block !important;
      }
      .black-logo {
        display: none;
      }
    }
    &--unpinned {

      &:hover .site-header__content {
        background-color: rgba(map-get($colors, deep-purple), .1);
        transition: $global-transition;
      }
    }
    &--unfixed {
      position: relative;
      transform: translateY(0);
    }
    &--scrolled {
      transition: transform 200ms ease-in-out;
    }
    &--unpinned {
      position: fixed;
      transform: translateY(-100%);
    }
    &--pinned {
      position: fixed;
      transform: translateY(0%);
    }
  }
}

// Nav Theme
.dark-theme .site-header {

  a {
    // color: map-get($colors, black);
  }
}

.light-theme .site-header {

  a {
    color: rgba(map-get($colors, white), .9);
  }

  .white-logo {
    display: inline-block !important;
  }
  .black-logo {
    display: none;
  }
}
