// Components/Header

$nav-height: 3rem;
$nav-height-sticky: 2.3rem;

$header-sm-breakpoint: 25em;
$header-md-breakpoint: 37em;

// Site-Header
// --
// container
.site-header {

  @media screen and (max-width: $screen-small) {
    height: auto !important;
  }

  &__content {
    background-color: $black; //$deep-purple;
    transition: $global-transition;
  }

  // Site-Nav
  // inner Container
  .site-nav {
    text-align: center;
  }

  // Site-Header__Logo
  &__logo {
    display: flex;
    align-items: center;
    text-align: center;

    img {
      max-width: 2.3rem;
    }

    span {
      color: rgba($white, .9);
      text-transform: uppercase;
      font-weight: 700;
      font-size: .75rem;
      letter-spacing: .08em;
      padding: 0 1rem;
      display: inline-block;
      transition: $global-transition;
      position: relative;

      @media screen and (min-width: $screen-small) and (max-width: 43em) {
        display: none;
      }
    }

    &:hover span {
      color: rgba($white, 1);
    }

    @media screen and (max-width: 30em) {
      display: block;
      padding: 1rem;
      border-bottom: 1px solid rgba($white, .2);
    }
  }

  // Nav-Group
  // wrapper for links
  .nav-group {
    display: inline-block;

    // Nav-Group__Link
    &__link {
      color: rgba($white, .9);
      text-decoration: none;
      padding: 1rem .5rem;
      display: inline-block;
      transition: $global-transition;
      position: relative;

      &:hover {
        color: rgba($white, 1);
      }

      &.active {
        // color: rgba($white, 1);
        color: $red;
      }
    }
  }
}


//- not mobile
@media screen and (min-width: $screen-small) {

  .site-header {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    position: relative;
    z-index: 10;

    &__content {
      background-color: $black; //rgba($deep-purple, 0);
      transition: $global-transition;

      &:hover {
        background-color: rgba($deep-purple, 1); //.2);
      }
    }

    .site-nav {
      display: flex;
      justify-content: center;
    }

    &__logo {
      text-decoration: none;

      img {
        height: 50%;
        max-width: none;
        width: auto;
      }
    }

    .nav-group {
      display: flex;
      justify-content: center;
      align-items: center;

      &__link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: .75rem;
        letter-spacing: .08em;
        padding: 0 .5rem;
        margin: 0 .25rem;
        line-height: $nav-height;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          background-color: rgba($dark-red, .4);
          height: 0;
          transition: .2s all linear;
        }

        &:hover,
        &:focus,
        .active {
          color: $dark-red;
        }

        &:hover::before,
        &:focus::before {
          height: 8px;
        }

        &.active::before {
          height: 1px;
        }

      }
    }
  }

}//@media

@media screen and (min-width: 700px) {
  .site-header .site-nav {
    justify-content: space-between;
  }

  .site-header__logo,
  .nav-group__right {
    width: 20%;
  }

  .nav-group.nav-group__right {
    justify-content: flex-end;
  }
}

// Headroom.js
@media #{$breakpoint-not-small} {
  .headroom {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &--pinned {

      .site-header__content {
        background-color: rgba($black, 1); //rgba($deep-purple, 1); //.5);
        transition: $global-transition;
      }

      &:hover .site-header__content {
        background-color: rgba($deep-purple, 1); //.75);
      }

      .site-header__logo span,
      .nav-group__link {
        line-height: $nav-height-sticky !important;
      }
    }
    &--unpinned {

      &:hover .site-header__content {
        background-color: rgba($deep-purple, .1);
        transition: $global-transition;
      }
    }
    &--unfixed {
      position: relative;
      transform: translateY(0);
    }
    &--scrolled {
      transition: transform 200ms ease-in-out;
    }
    &--unpinned {
      position: fixed;
      transform: translateY(-100%);
    }
    &--pinned {
      position: fixed;
      transform: translateY(0%);
    }
  }
}
