.custom-unordered-list {
  list-style: none;
  position: relative;

  li:before {
    content: '•';
    // margin-right: 1rem;
    color: map-get($colors, red);
    position: absolute;
    left: -1rem;
  }
}
