.page-hero {
  position: relative;
  overflow: hidden;
  background-color: #1A191B;
  color: #fff;
  width: 100vw;
  padding: 10rem 0;
  display: flex;
  justify-content: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  @media screen and (min-width: 33em) {
    height: 98vh;
    min-height: 35rem;
    max-height: 50rem;
    padding: 0;
  }

  &__content {
    width: 90%;
    max-width: 44em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__headline {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.36;

    @media screen and (min-width: $screen-medium) {
      font-size: 2.5rem;
    }
  }

  &__text {
    max-width: 26em;
    font-size: 1rem;
    letter-spacing: -.009em;

    @media screen and (min-width: $screen-medium) {
      font-size: 2rem;
      line-height: 1.3;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    @media screen and (max-width: 33em) {
      height: 130%;
      width: auto;
      max-width: none;
    }
    @media screen and (min-width: 33em) {
      width: 100%;
      height: auto;
      max-width: none;
    }
  }
}
